@import "tailwindcss";

@theme {
  --color-bg-dark-mode: #0e1721;
  --color-bg-dark-mode2: #1c1b22;
  --color-bg-light-mode: #f2f2f2;
  --color-bg-light-mode2: #f5f7f9;
  --color-text-dark-mode: #fafafa;
  --color-text-light-mode: #303741;
  --color-mizuki: #ecc5e0;
  --color-text-deco-light-mode: #008ec4;
  --color-border-light-mode: #e8eaee;
  --color-highlight-dark-mode: #52649e;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
